.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( to bottom right, teal, pink);
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient( to bottom right, teal, pink);
}

form input{
  font-family: monospace;
  font-size: 20px;
  margin: 2px;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
}

form input:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px, 0px, 15px, 0px;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 30px;
  padding: 5px 10px;
  background-color: #f3f7fe;
}

.equal{
  width: 200px
}